<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blockbuster</title>
</head>

<body>
    <h1>BLOCKBUSTER</h1>
    <h3>Bienvenido a su tienda de Confianza</h3>
    <a href="{% url 'app:peliculas' %}">Peliculas</a>
    <br>
    <a href="{% url 'app:categorias' %}">Categorias</a>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam,
        consequuntur molestiae qui doloremque explicabo quibusdam maiores earum
        consectetur, odit, molestias recusandae impedit error ipsam porro
        provident aut animi. Porro, culpa.
    </p>
    <hr>
    <h2>Todos los Derechos Reservados</h2>
</body>

</html>