<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
</head>

<body>
    <h1>Peliculas</h1>
    <a href="{%  url 'app:pelicula' 0 %}">Pulp Fiction</a>

    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Año</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in lista_peliculas %}
            <tr>
                <td>{{ p.nombre}}</td>
                <td>{{ p.year}}</td>
                <td>
                    <a href="{%  url 'app:pelicula' p.id %}">Ver</a> </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>




    <hr>
    <span>Todos los Derechos Reservados {{year}} - {{tienda}}</span>
</body>

</html>