<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pelicula</title>
</head>

<body>
    {% if pelicula %}
    <!--  #if que solo habilita la pagina cuando detecte un titulo que venga desde el view -->
    <h1>{{ pelicula.nombre }}</h1>
    <h3>{{pelicula.year}}</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
        accusamus quos quod molestias nesciunt excepturi est blanditiis cumque, a
        qui nulla unde velit explicabo praesentium cum! Numquam eos culpa cumque?
    </p>
    {%else%}
    <h1 style="color: red">La película solicitada no existe</h1>
    {%endif%}
</body>

</html>